<!DOCTYPE html>
<html lang="pl">
    {% include 'header.html' %}
    <body>
        {% block body-head %}
            {% if user.first_name %}
                {% include 'userlogin_header.html' %}
            {% else %}
                {% include 'landingpage_header.html' %}
            {% endif %}
        {% endblock body-head %}

        {% block body-content %}
        {% endblock body-content %}
        
    </body>
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock footer %}
</html>